/* Minor customisations or things that probably should be done in scss but that I didn't work out how are included here*/

/* Hide things*/

/*.sidenote-number, label.margin-toggle.sidenote-number {
    display: none;
}*/

/* Colour sidebar */
.sidebar-navigation a:hover, div.sidebar-item-container .active {
    color: #66bbff;
}

h2#toc-title{
    font-weight: bold;
}

/* Remove margin in indented lists in book body and margin notes to stop them breaking up unaesthetically */
.content > ul > li > ul,
.content > ul > li > ul > li > ul,
.content > ul > li > ul > li > ul > li > ul,
.content > section > ul > li > ul,
.content > section > ul > li > ul > li > ul,
.content > section > ul > li > ul > li > ul > li > ul,
div.column-margin > div > ul > li > ul,
div.column-margin > div > ul > li > ul > li > ul {
    margin-bottom: 0rem !important;
}

/* horizontal breaks within the menu should have smaller margins than those between major headings */
li > ul > li > span > hr {
    margin: 0.5rem;
}

/* colour the glossary */
span.glossary {
    color: #78a7cc;
}