/* Minor customisations or things that probably should be done in scss but that I didn't work out how are included here*/

/* Hide things*/

/*.sidenote-number, label.margin-toggle.sidenote-number {
    display: none;
}*/

/* Colour sidebar */
.sidebar-navigation a:hover, div.sidebar-item-container .active {
    color: #66bbff;
}

.sidebar-item {
    margin-bottom: 0.2em;
    line-height: var(--bs-body-line-height);;
    margin-top: 0em;
}

h2#toc-title{
    font-weight: bold;
}

/* Remove chapter number from breadcrumbs on devices, and whole breadcrumb on full-width*/
@media only screen and (max-width: 992px){
    .breadcrumb-item > a > .chapter-number {
        display: none;
    }

}

@media only screen and (min-width: 993px){
    nav.quarto-page-breadcrumbs {
        display: none !important;
    }
}


/* Remove margin in indented lists in book body and margin notes to stop them breaking up unaesthetically */
main ol ol,
main ul ul,
main ol ul,
main ul ol {
 margin-bottom:0rem;
}

/* horizontal breaks within the menu should have smaller margins than those between major headings */
li > ul > li > span > hr {
    margin: 0.5rem;
}

/* colour the glossary */
span.glossary {
  text-decoration: underline;
}

/* Make the figure captions match the table captions */
figcaption, figure-caption, caption {
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    text-align: center;
    color: #000000;
}

/* Buff the font size of the captions */
section > table > caption {
    font-size: 1.3rem;
}

div.column-margin > div > table > caption,
div.column-margin > div > div > figure > figcaption {
    font-size: 1rem;
}