/* CSS for website */

text.title {
    font-size: 20px;
}

path {
    fill: none;
    stroke-width: 2.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

path.axis {
    stroke: black;
}

path.bgline {
    stroke: white;
    stroke-width: 6px;
}

.markdown-section table {
    table-layout: fixed;
    display:block;
    overflow-x: auto;
}

.markdown-section blockquote {
  background: #383838;
  border-left:4px solid #3d3b0b;
  font-family: lucida console, monospace, sans-serif;
  color:#f7f7f7;
  margin: 0 0 0.85em;
  padding: 0 0.85px;
}